@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #0c273b;
}

/* Header */
.Header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #081a28;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Header.scrolled {
    background-color: #0a2a3d;
}

.logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    position: relative;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #00abf0;
    left: 0;
    bottom: -5px;
    transition: width 0.3s;
}

.navbar a:hover::after,
.navbar a.active::after {
    width: 100%;
}

/* Home Section */
.home {
    margin-top: 100px;
    padding: 20px 10%;
    color: #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-text {
    flex: 1;
}

.home h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.home h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.home p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.btn-box {
    margin-top: 20px;
}

.btn-box a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00abf0;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
}

.btn-box a:hover {
    background-color: #0089c7;
}

/* Photo Styling */
.photo {
    flex: 1; /* Allows the image to take some space but not too much */
    display: flex;
    justify-content: flex-end; /* Aligns the image to the right *
}

.photo img {
    width: 200px; /* Adjust the width of the image */
    height: auto;
    border-radius: 10px;
    display: block; /* Ensure no space under the image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow for the image */
}

